name: Scan new npm pkgs
on:
  workflow_dispatch:
  schedule:
    - cron:  '*/15 * * * *'

# run every hour, die to timeout, repeat

jobs:
  scan_new_npm_pkgs:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
    - uses: actions/checkout@v3

    - name: install guarddog
      run: pip3 install guarddog

    - name: run continuous monitoring scanner
      run: timeout 840 bash -c "while true; do git pull; go build; ./npm-auto-scanner; done"
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

